html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

/* header */
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: seashell 1px solid;
    height: 69px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: black;
    margin: 0;
}

#logo {
    padding-left: 10px;
    height: 50px;
}

#nav-links {
    margin-right: 10px;
}

#nav-links a {
    padding: 0 5px;
}

#nav-links a:link {
    color: seashell;
    text-decoration: underline;
}

#nav-links  a:visited {
    color: seashell;
    text-decoration: underline;
}

#nav-links  a:hover {
    color: seashell;
    text-decoration: underline;
}

#nav-links  a:active {
    color: seashell;
    text-decoration: underline;
}

/* mission */
#mission {
    display: flex;
    width: 1200px;
    height: 700px; 
    justify-content: center;
    align-items: center;
}

#mission img {
    position: absolute;
    z-index: -1;
}

#mission-text {
    position: relative;
    background-color: black;
    width: 100%;
}

/* featured-tea */


/* locations */


/* footer */

